################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TypeScriptReactTODO/node_modules
/TypeScriptReactTODO/bin
/TypeScriptReactTODO/obj/Debug
